.my-recipes-container {
    margin: 0 auto;
    display: flex;
    background-color: #f4f1e9;
    height: 100vh;
  }
  
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
  }
  
  .recipe-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 250px;
    overflow: hidden;
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
  }
  
  .recipe-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .recipe-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .recipe-card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  /* Modal Styling */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .close {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .modal-section {
    margin-bottom: 20px;
  }
  
  .modal-section h4 {
    font-size: 1.2rem;
    color: #2b463c;
  }
  
  .modal-image {
    text-align: center;
  }
  
  .modal-image-img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-top: 20px;
  }