/* Sidebar Container */
.sidebar-container {
  width: 60px; /* Closed width */
  height: 100vh;
  background-color: #688f4e;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space items between */
  align-items: center;
  padding: 32px 16px;
  gap: 32px;
  border-right: 2px solid #2b463c;
  transition: width 0.3s ease;
  box-sizing: border-box; /* Ensure padding is included in height calculation */
}

/* Expanded sidebar */
.sidebar-container.open {
  width: 200px; /* Open width */
}

/* Profile Button */
.profile-button {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  border: 1px solid #688f4e;
  background-color: #81d182;
  color: #2b463c;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-toggle-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

/* Log Out Button at the bottom using flexbox */
.logout-button {
  width: 100%;
  padding: 10px;
  background-color: #ff4d4d; /* Red background when open */
  color: white;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* When the sidebar is collapsed, remove the background */
.sidebar-container:not(.open) .logout-button {
  background-color: transparent; /* No background */
  padding: 0; /* Remove padding to make it icon-sized */
}

/* Log Out button on hover */
.logout-button:hover {
  background-color: #ff3333;
}

/* Icon inside the logout button */
.logout-button img {
  width: 24px;
  height: 24px;
  margin-right: 0; /* No extra margin when the icon is displayed */
}

/* Adjust for the text version */
.logout-button span {
  display: inline-block;
  padding-left: 10px;
}
.logo {
  width: 150px; 
  height: 150px;
  object-fit: contain;
}