.navbar-link {
    color: #2b463c; /* Default text color using primary color */
    text-decoration: none;
    padding: 0.5rem 1rem; /* Padding for clickable area */
    border-radius: 4px; /* Rounded corners */
    font-size: 1.25rem; 
    font-weight: 700; 
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth hover effect */
    position: center;
}

/* Hover state */
.navbar-link:hover {
    color: #f4f1e9; /* Text color on hover using background color */
    background-color: #81d182; /* Accent color as background on hover */
}

/* Active state */
.navbar-link.active {
    color: #f4f1e9; /* Light text color for active state */
    background-color: #2b463c; /* Primary color for active background */
}

/* Ensure that hover and active states work together */
.navbar-link.active:hover {
    color: #2b463c; /* Text color when active and hovered */
    background-color: #81d182; /* Accent color as background when active and hovered */
}

/* Disabled state */
.navbar-link.disabled {
    color: #888888; /* Disabled text color */
    pointer-events: none; /* Prevent click events */
    opacity: 0.6; /* Make it look disabled */
}